<!DOCTYPE html>
<html>
<head>
    <title>Done with ride</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}"/>
</head>
<body>
    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                <table>
                    <tr>
                    <td><h1>Username</h1> </td><td><h1> {{username}}</h1></td>
                    </tr>
                    <tr>
                    <td><h1>Start station</h1></td><td><h1> {{start_station}}</h1></td>
                    </tr>
                    <tr>
                    <td><h1>Distance</h1></td><td><h1 id="distance">{{distance}}</h1></td>
                    </tr>
                    <tr>
                    <td><h1>Time </h1></td><td><h1 id="time"> {{time}}</h1></td>
                    </tr>
                    <tr>
                    <td><h1>End station </h1> </td><td><h1>{{end_station}}</h1></td>
                    </tr>
                    <tr>
                    <td><h1>Amount</h1></td><td><h1 id="amount">{{amount}}</h1></td>
                    </tr>
                </table>
                <button class="login100-form-btn" id="submit">End My Trip</button>
            </div>
        </div>
    </div>
    <script type="text/javascript">
    document.getElementById("submit").onclick = function () {
        location.href = "https://reizen-app.herokuapp.com/payment/"+document.getElementById('amount').textContent;
    };
</script>
</body>
</html>