<!DOCTYPE html>
<html lang="en">
<head>
	<title>Welcome, dear {{name}}!</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="{{ url_for('static', filename='images/icons/favicon.ico') }}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='fonts/font-awesome-4.7.0/css/font-awesome.min.css') }}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/animate/animate.css') }}"/>
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/css-hamburgers/hamburgers.min.css') }}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/select2/select2.min.css') }}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/util.css') }}"/>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}"/>
<!--===============================================================================================-->
</head>
<body>
	
	<div class="limiter">
            <div class="container-login100">
                  <div class="wrap-login100">
                        <table>
                              <tr>
                                    <td> <h1>Reizen Cash</h1></td>
                                    <td> <h1>{{amount}}</h1></td>
                              </tr>
                              <tr>
                                    <td><h1> New trip </h1></td>
                                    <td>
                                          <button class="login100-form-btn use-address" >Start</button>
                                    </td>
                              </tr>
                              <tr>
                                    <td><h1> My History </h1></td>
                                    <td>
                                          <button class="login100-form-btn use-address1" >View</button>
                                    </td>
                              </tr>
                              <tr>
                                    <td><h1>Logout</h1></td>
                                    <td>
                                          <button class="login100-form-btn use-address2" >Logout</button>
                                    </td>
                              </tr>
                        </table>
                  </div>
            </div>
	</div>
	
	

	
<!--===============================================================================================-->	
	<script src="{{ url_for('static', filename='vendor/jquery/jquery-3.2.1.min.js') }}"></script>
<!--===============================================================================================-->
	<script src="{{ url_for('static', filename='vendor/bootstrap/js/popper.js') }}"></script>
	<script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.min.js') }}"></script>
<!--===============================================================================================-->
	<script src="{{ url_for('static', filename='vendor/select2/select2.min.js') }}"></script>
<!--===============================================================================================-->
	<script src="{{ url_for('static', filename='vendor/tilt/tilt.jquery.min.js') }}"></script>
<!--===============================================================================================-->
	<script src="{{ url_for('static', filename='js/main.js/') }}"></script>
      <style>
            table{
                  margin-top: 0;
            }
            th,td{
                  padding-left: 5%;
                  padding-top: 4%;
                  min-width:350px;
                  text-align: center;
            }
            .wrap-login100 {
                  width: 960px;
                  background: #fff;
                  border-radius: 10px;
                  overflow: hidden;
                  display: -webkit-box;
                  display: -webkit-flex;
                  display: -moz-box;
                  display: -ms-flexbox;
                  display: flex;
                  flex-wrap: wrap;
                  justify-content: space-between;
                  padding: 50px 130px 100px 95px;
            }
            
      </style>
      <script>
            $(".use-address").click(function() {
                    window.location.replace("https://reizen-app.herokuapp.com/pickup_station") 
            });
            $(".use-address1").click(function() {
                    window.location.replace("https://reizen-app.herokuapp.com/user_history") 
            });
            $(".use-address2").click(function() {
                    window.location.replace("https://reizen-app.herokuapp.com/logout") 
            });
      </script>
</body>
</html>