<!DOCTYPE html>
<html>
<head>
    <title>Select Station</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}"/>
</head>
<body>
    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                <table>
                    <h1>The pickup station</h1>
                    <form action="/bike_select" method="post">
                    <br/>
                    <label for="station"><br>Choose your pickup station:</br></label>

                    <select id="station" name="station" />
                    <option value="Airport">Airport</option>
                    <option value="Annastatue">Annastatue</option>
                    <option value="Ashokapuram">Ashokapuram</option>
                    <option value="Chinnavedampatti">Chinnavedampatti</option>
                    <option value="Coimbatorenorth">Coimbatorenorth</option>
                    <option value="Fivecorner">Fivecorner</option>
                    <option value="Ganapathy">Ganapathy</option>
                    <option value="ganapathypudhur">Ganapathypudhur</option>
                    <option value="gandhipark">Gandhipark</option>
                    <option value="gandhipuram">Gandhipuram</option>
                    <option value="gks">Gks</option>
                    <option value="hopes">Hopes</option>
                    <option value="koundampalayam">Koundampalayam</option>
                    <option value="kumarasamyavanue">Kumarasamyavanue</option>
                    <option value="kurudampalayam">Kurudampalayam</option>
                    <option value="lakshmimills">Lakshmimills</option>
                    <option value="neelambur">Neelambur</option>
                    <option value="neelikonampalayam">Neelikonampalayam</option>
                    <option value="ondiputhur">Ondiputhur</option>
                    <option value="peelamedu">Peelamedu</option>
                    <option value="railwaystation">Railwaystation</option>
                    <option value="ramanathapuram">Ramanathapuram</option>
                    <option value="rspuram">Rspuram</option>
                    <option value="saibabacolony">Saibabacolony</option>
                    <option value="saravanampatti">Saravanampatti</option>
                    <option value="singanallur">Singanallur</option>
                    <option value="sivanandhacolony">Sivanandhacolony</option>
                    <option value="thudiyalur">Thudiyalur</option>
                    <option value="ukkadam">Ukkadam</option>
                    <option value="womenspolytechnic">Womenspolytechnic</option>
                    <option value="hopes">Hopes</option>
                    </select>
                    <!--input type = "submit" value = "submit"/-->
                    <div class="container-login100-form-btn">
						<button class="login100-form-btn">
							Submit
						</button>
					</div>
                </form>
                </table>
            </div>
        </div>
    </div>
  
</body>
</html>