<!DOCTYPE html>
<head>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/util.css') }}"/>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}"/>
</head>
<body>
    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                <table>
                    <h1>Payment Processed Succesfully!</h1>
                    <h1>Have a great day, {{name}}</h1>
                </table>
            </div>
        </div>
    </div>
</body>
</html>