<!DOCTYPE html>
<html lang="en">
<head>
	<title>Select a bike</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="{{ url_for('static', filename='images/icons/favicon.ico') }}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='fonts/font-awesome-4.7.0/css/font-awesome.min.css') }}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/animate/animate.css') }}"/>
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/css-hamburgers/hamburgers.min.css') }}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/select2/select2.min.css') }}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/util.css') }}"/>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}"/>
<!--===============================================================================================-->
</head>
<body>
	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
                        <h2>Your trip starts at {{name}}</h2>
				<table>
                              <tr>
                                    <th>Number plate</th>
                                    <th>Vehicle name</th>
                                    <th>Book</th>
                              </tr>
                              {% for t in table %}
                                  <tr>
                                  {% for i in t %}
                                      <td>{{ i }}</td>
                                  {% endfor %}
                                  <td>
                                    <button class="login100-form-btn use-address" >Book</button>
                                  </td>
                                  </tr>
                              {% endfor %}
                        </table>
			</div>
		</div>
	</div>
	
	

	
<!--===============================================================================================-->	
	<script src="{{ url_for('static', filename='vendor/jquery/jquery-3.2.1.min.js') }}"></script>
<!--===============================================================================================-->
	<script src="{{ url_for('static', filename='vendor/bootstrap/js/popper.js') }}"></script>
	<script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.min.js') }}"></script>
<!--===============================================================================================-->
	<script src="{{ url_for('static', filename='vendor/select2/select2.min.js') }}"></script>
<!--===============================================================================================-->
	<script src="{{ url_for('static', filename='vendor/tilt/tilt.jquery.min.js') }}"></script>
	<script >
		$('.js-tilt').tilt({
			scale: 1.1
		})
	</script>
<!--===============================================================================================-->
	<script src="{{ url_for('static', filename='js/main.js/') }}"></script>
      <style>
            table{
                  margin-top: 0;
            }
            th,td{
                  padding-left: 5%;
                  padding-top: 2%;
                  min-width:200px;
                  text-align: center;
            }
            
      </style>
      <script>
            $(".use-address").click(function() {
            var $row = $(this).closest("tr"),           // Finds the closest row <tr> 
                  $tds = $row.find("td"),               // Finds all children <td> elements
                  $np = $row.find("td:nth-child(1)").text(), // Finds 2 nd children <td> elements
                  $bike = $row.find("td:nth-child(2)").text();   // Finds 2 nd children <td> elements
                  /*$.each($tds, function() {             // Visits every single <td> element
                  console.log($(this).text());          // Prints out the text within the <td>
                  });*/
                  console.log($bike);
                  console.log($np);
                  window.location.replace("https://reizen-app.herokuapp.com/book_process/"+$np+"/"+$bike);
                  /*$.ajax({
                        type : "POST",
                        url : '/book_process/'+$np+'/'+$bike,
                        contentType: 'application/json;charset=UTF-8',
                  });*/
            });
      </script>
</body>
</html>