<!DOCTYPE html>
<html>
<head>
    <title>Select Station</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}"/>
</head>
<body>
    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                <h1>Username: {{name}}</h1><br>
                <h1>Number plate : {{numberplate}}</h1><br>
                <h1>Station : {{station}}</h1><br>
                <h1>Vehicle Model : {{bike}}</h1><br>
                <h1>Booked Time : {{time}}</h1><br>
                <h1>OTP : {{otp}}</h1><br>
            </div>
        </div>
    </div>
  
</body>
</html>